h1 {
  position: relative;
  font-size: 3em;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

body {
    text-align: center;
    background-color: lightgreen;
    font-family: "Oswald"
    
}

.board {
  display: flex;
  width: 400px;
  height: 300px;
  margin: 0%;    
  margin: 30px auto;
  text-align: center;
  flex-wrap: wrap;   
      
    
}



footer {
 font-size: 1.2em;
 background-color: #1D1F20;
 padding: 10px;
 color: white;
 max-width: 100%;
 text-align: center;
 clear: both;
 margin-top: 100px;
}
footer ul {
 border-top: 3px solid #EA4335;
 border-bottom: 3px solid #EA4335;
 padding-top: 10px;
 padding-bottom: 10px;
 width: 50%;
 margin-left: auto;
 margin-right: auto;
 flex-wrap: wrap;
}

footer li {
 display: inline-block;
 margin-right: 20px;
 font-size: 1.5em;
}

footer li a{
text-decoration: none;
 color: white;
 transition: 1s ease;
 font-size: 1em;
 }

footer li a:hover {
  color: #EA4335;
  text-decoration: none;
  }

.btn button {
    text-align: center;
    border-radius: 5px;
    border:grey thick;
    background: whitesmoke;
    width: 101px;
    height: 110px;
    margin: 5px;
    font-size: 70px;
    font-family: sans-serif;
    float: left; 
    flex-wrap: wrap ;
}

.btn button:hover{
  color: #EA4335;

}

aside {
  width: 40%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  font-style: italic;
  color: #1D1F20;
  flex-wrap: wrap;
}
 


aside .players {
  
  display: flex;
  font-size: 25px;
  justify-content: center;
  position: relative;
  top: -340px;

}
span {
display: flex;
flex-direction: column; 
}

 #rest {
position: relative;
 width: 30px;
 top: -370px;
 left: 50px;

}
#rest button {
width: 150px;

}

aside #rest {
position: relative;
left:190px;
top: -330px;
width: 10px;
height: 10px;
font-size: 25px;

}

aside #rest:hover{
  color: #EA4335;
}
#myAudio{
  position: relative;
  left: -146px;
  top: -310px;
}
#myAudio:hover{
  color:#EA4335
}

@media (max-width:600px){

    body {
      
        width: 93%;
    }
    h1 {
      position: relative;
      top: -33px;
    }

    div .btn{
      position: relative;
      top: -55px;
      
    }

    aside .players {
      top: -14px;
  }
    .board {
      width: 100%;
      margin: 0%;    
  
    }
    footer {
    
     display: none;
  
     }
  
   
  
     aside { 
       width: 100%;

  }
  
aside #rest {
  left: 153px;
  top: -25px;
}

#myAudio {
  position: relative;
  left: 4px;
  top: 16px;

}}